<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Catalyst</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="./../static/images/favicon.ico">
    <link rel="stylesheet" media="all" href="./../static/css/style.css">
  </head>
  <body>    
    <div class="wrapper"> 
      <div class="preloader">        
        <div class="c-cube">
          <div class="c-cube__side c-cube__side--front"></div>
          <div class="c-cube__side c-cube__side--back"></div>
          <div class="c-cube__side c-cube__side--right"></div>
          <div class="c-cube__side c-cube__side--left"></div>
          <div class="c-cube__side c-cube__side--top"></div>
          <div class="c-cube__side c-cube__side--bottom"></div>
        </div>
        <div class="preloader__logo"> <img src="./../static/images/logo.svg"></div>
      </div>
      <header class="header"> 
        <div class="wrapper-inner">
          <div class="header__content">      <a class="header__logo" href="index.html"><img src="./../static/images/logo.svg"></a>
            <div class="header__menu">       
              <nav class="menu">
                <ul class="menu__list"> 
                  <li class="menu__item">                <a class="menu__link transition" href="index.html#about">About Us</a></li>
                  <li class="menu__item">                <a class="menu__link transition" href="index.html#internet">New Internet</a></li>
                  <li class="menu__item">                <a class="menu__link transition" href="index.html#features">Features</a></li>
                  <li class="menu__item">                <a class="menu__link transition" href="index.html#team">Team</a></li>
                  <li class="menu__item">                <a class="menu__link transition" href="index.html#roadmap">Roadmap</a></li>
                  <li class="menu__item">                <a class="menu__link transition" href="index.html#contact">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="header__mobile">
              <div class="header__mobile-item topBar"></div>
              <div class="header__mobile-item btmBar"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="top error404">
        <div class="top__start" data-bg-text="Catalyst">
          <div class="wrapper-inner">
            <div class="start__content error404__content"> 
              <h1 class="error404__title title title--white"><span class="green">Error </span>404</h1>
              <p class="error404__text">This is not the page you are looking for</p>
              <div class="error404__button flex-center"> <a class="button button--green button--arrow-reverse" href="index.html">To main<span class="icon-arrow"></span></a></div>
              <div class="start__img start__img--404" id="parallax-bg-3">
                <div class="bg-1 bg-1--404"></div>
              </div>
              <div class="start__img" id="parallax-bg-2"> 
                <div class="bg-2"></div>
                <div class="bg-3"></div>
              </div>
              <div class="start__img" id="parallax-bg-1"> 
                <div class="bg-4"></div>
                <div class="bg-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">   
      <div class="wrapper-inner"> 
        <div class="footer__content flex flex--center"> 
          <div class="footer__block flex flex--center">
            <div class="footer__text">Newsletter</div>
            <div class="footer__form"> 
              <form class="form-popup" name="form" action="./popups/thanks.html" method="POST" data-rules="{                                          
                          &quot;email&quot;: { &quot;required&quot; : true, &quot;email&quot;: true, &quot;emailMethod&quot;: true}                        
                        }">
                <label data-name="nonfield">         </label>
                <div class="footer__group"> 
                  <div class="footer__input">
                    <input type="email" name="email" data-msg="Please enter a valid email address" data-msg-required="This field is required" placeholder="Email address">
                  </div>
                  <div class="footer__submit">
                    <button class="flex-center transition" type="submit"><span class="icon-mail"></span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="footer__social flex-center">         <a class="transition" href="#" target="_blank"><span class="icon-fb"></span></a><a class="transition" href="#" target="_blank"><span class="icon-linkedin"></span></a><a class="transition" href="#" target="_blank"><span class="icon-twitter"></span></a></div>
          <div class="footer__links"><a class="transition" href="terms_conditions.html" target="_blank">Privacy Policy          </a><a class="transition" href="terms_conditions.html" target="_blank">Terms and conditions</a></div>
        </div>
      </div>
    </footer>
    <div class="wrapper-with-mask">
      <div class="popup js-ajax-popup"></div>
    </div>
    <script src="./../static/js/vendor.js"></script>
    <script src="./../static/js/main.js"></script>
  </body>
</html>